tst_*.py
*.exe
build/
logs/
dist/
all_files_in_dir/
*.log
*.spec
*.tmp
*.png
__pycache__
error_log.txt
*.cmd
venv/
.vscode/
py_inspector.py
*.xls
1/
win_*
*.xls
*.xlsx
*.csv
*.json
*.*.json
*.json.bak
*.html
*.htm
*.xml
*.css
venv64/
xls2ora.prohidna.json
xls2ora.shtat.json
xls2ora.py
